
# Exclude unless listed here
# ===========================
/*

# Git repository information
# ===========================
.gitignore
.gitattributes
README.md

# MultiMC instance files
# ===========================
!/instance.cfg
!/patches

# Minecraft client files
# ===========================
!/minecraft
/minecraft/*

!/minecraft/config
!/minecraft/mods
!/minecraft/icon.png

# Minecraft server files
# ===========================
!/server
/server/*

!/server/config
!/server/mods
!/server/forge-1.7.10-*
