# Exclude items by default
# ===========================
/*

# Git repository information
# ===========================
!/.gitignore
!/.gitattributes
!/README.md
!/update.bat

# Docker information
!/Dockerfile
!/.dockerignore

# Minecraft Forge and Liteloader installers
# ===========================
!/forge-1.7.10-*-installer.jar
!/liteloader-installer-1.7.10-*

# Update automation scripts
# ===========================
!/util

# MultiMC instance files
# ===========================
!/instance.cfg
!/patches

# Minecraft client files
# ===========================
!/minecraft
/minecraft/*

!/minecraft/config
!/minecraft/mods
!/minecraft/icon.png

#exclude client-side configuration
/minecraft/config/NEI/client.cfg
/minecraft/config/cofh/Client.cfg
/minecraft/config/DamageIndicatorsMod.cfg
/minecraft/config/DIAdvancedCompatibility.cfg
/minecraft/config/iChunUtil*
/minecraft/config/InvTweaks*

#exclude client mod cache
/minecraft/mods/1.7.10
/minecraft/mods/ic2
/minecraft/mods/carpentersblocks
/minecraft/mods/VoxelMods

#exclude Opis
/minecraft/mods/Opis*
/minecraft/mods/MobiusCore*
/minecraft/config/MapWriter*
/minecraft/config/Opis.cfg

#exclude OptiFine
/minecraft/mods/OptiFine*
