
# Exclude items by default
# ===========================
/*

# Git repository information
# ===========================
!/.gitignore
!/.gitattributes
!/README.md
!/gitsync.sh
!/update.bat

# MultiMC instance files
# ===========================
!/instance.cfg
!/patches

# Minecraft client files
# ===========================
!/minecraft
/minecraft/*

!/minecraft/config
!/minecraft/mods
!/minecraft/icon.png

#exclude client-side configuration
/minecraft/config/NEI/client.cfg
/minecraft/config/cofh/Client.cfg
/minecraft/config/DamageIndicatorsMod.cfg
/minecraft/config/DIAdvancedCompatibility.cfg
/minecraft/config/iChunUtil*
/minecraft/config/InvTweaks*

#exclude client mod cache
/minecraft/mods/carpentersblocks
/minecraft/mods/VoxelMods

#exclude Opis
/minecraft/mods/Opis-*
/minecraft/mods/MobiusCore-*
/minecraft/config/MapWriter*
/minecraft/config/Opis.cfg

# Minecraft server files
# ===========================
!/server
/server/*

!/server/config
!/server/mods
!/server/forge-1.7.10-*
